.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 23%;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  height: 250px;
  overflow: hidden;
  padding-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.product-list{
  padding: 20px;
  width: calc(100vw - 20px);
  margin: 0 auto;
  text-align: center;
}
p{
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-wrap{
  margin-bottom: 20px;
}

.star-icon{
  width: 18px;
  vertical-align: text-top;
  margin: 0 2px 10px;
}


@media only screen and (max-width: 480px){
  .card{
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 690px){
  .card{
    width: 45%;
  }
}

@media (min-width: 691px) and (max-width: 1046px){
  .card{
    width: 30%;
  }
}